<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/card.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>Document</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Link with href
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-bs-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
        
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
          
          </tr>
        </tbody>
      </table>
  </div>
    
      <div class="container mt-2">
        <!--   <div class="card card-block mb-2">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">Welcom to bootstrap card styles</p>
            <a href="#" class="btn btn-primary">Submit</a>
          </div>   -->
          <div class="row">
            <form action="/material" class="templatemo-login-form" method="POST" enctype="multipart/form-data">
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">View Data</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h3 class="card-title mt-3 mb-3">&nbsp;&nbsp; RESUME</h3>
                <p class="card-text">Resume is your first impression on your dream company.Be the first to master resume making.</p> 
                
                  <div class="custom-file">
                    <input type="file" name="resume" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                  
                
                <input class="btn btn-primary" type="submit" value="Submit">
          </div>
            </div>
           
            </form>
            
            <form action="/material" class="templatemo-login-form" method="POST" enctype="multipart/form-data">
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">View Data</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h3 class="card-title mt-3 mb-3">&nbsp;&nbsp; APTITUDE</h3>
                <p class="card-text">Resume is your first impression on your dream company.Be the first to master resume making.</p> 
                <div class="custom-file">
                  <input type="file"name="aptitude" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
          </div>
            </div> 
            </form>
            <form action="/material" class="templatemo-login-form" method="POST" enctype="multipart/form-data">
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">View Data</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h3 class="card-title mt-3 mb-3">&nbsp;&nbsp; COMPUTER SCIENCE</h3>
                <p class="card-text">Resume is your first impression on your dream company.Be the first to master resume making.</p> 

                <div class="custom-file">
                  <input type="file" name="computer" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
          </div>
            </div>
            </form>
            <form action="/material" class="templatemo-login-form" method="POST" enctype="multipart/form-data">
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">View Data</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h3 class="card-title mt-3 mb-3">&nbsp;&nbsp; ELECTRONICS</h3>
                <p class="card-text">Resume is your first impression on your dream company.Be the first to master resume making.</p> 
           
                <div class="custom-file">
                  <input type="file" name="electronics" class="custom-file-input" id="customFile" data-buttonBefore="true">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
          </div>
            </div>
          </form>
          <form action="/material" class="templatemo-login-form" method="POST" enctype="multipart/form-data">
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">View Data</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h3 class="card-title mt-3 mb-3">&nbsp;&nbsp; MECHATRONICS</h3>
                <p class="card-text">Resume is your first impression on your dream company.Be the first to master resume making.</p> 
                <div class="custom-file">
                  <input type="file" name="mechatronics" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
          </div>
            </div>
            </form>
            <form action="/material" class="templatemo-login-form" method="POST" enctype="multipart/form-data">
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
                <h4 class="card-title text-right">
                  <p></p>
                  <p></p>
                  <i class="material-icons">View Data</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h3 class="card-title mt-3 mb-3">&nbsp;&nbsp; CHEMICAL</h3>
                <p class="card-text">Resume is your first impression on your dream company.Be the first to master resume making.</p> 
                <div class="custom-file">
                  <input type="file" name="chemical" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
          </div>
            </div>
            </form>
            <form action="/material" class="templatemo-login-form" method="POST" enctype="multipart/form-data">
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
                <h4 class="card-title text-right">
                  <p></p>
                  <p></p>
                  <i class="material-icons">View Data</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h3 class="card-title mt-3 mb-3">&nbsp;&nbsp; BIOTECHNOLOGY</h3>
                <p class="card-text">Resume is your first impression on your dream company.Be the first to master resume making.</p> 
                <div class="custom-file">
                  <input type="file" name="biotechnology" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
          </div>
            </div>
            </form>
            <form action="/material" class="templatemo-login-form" method="POST" enctype="multipart/form-data">
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
                <h4 class="card-title text-right">
                  <p></p>
                  <p></p>
                  <i class="material-icons">View Data</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h3 class="card-title mt-3 mb-3">&nbsp;&nbsp; OTHERS</h3>
                <p class="card-text">Resume is your first impression on your dream company.Be the first to master resume making.</p> 
                <div class="custom-file">
                  <input type="file" name="others" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
          </div>
            </div>
           </form>
          </div>
          
        </div>
        
        <!--   <div class="card card-block mb-2">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">Welcom to bootstrap card styles</p>
            <a href="#" class="btn btn-primary">Submit</a>
          </div>   -->
         
        
       
    <!--<div class="row form-group">
        <div class="col-lg-12">
          <label class="control-label templatemo-block">Upload your Profile Pic</label>
          <input type="file" name="fileUpload" id="fileToUpload" class="filestyle templatemo-blue-button" data-buttonName="btn-primary" data-buttonBefore="true"
          data-icon="false">
          <p>Maximum upload size is 5 MB.</p>
        </div>
      </div> -->
      <button type="submit"  name="sub" >add</button>
    </form>
    <script>
      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
      </script>
</body>
</html>